### CORE DEPS
numpy<2.0
scikit-learn  # depends on numpy

### MAIN PACKAGES
jcamp
matplotlib
pandas
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121
rdkit
BaselineRemoval

### SMILES
pubchempy
cirpy
py2opsin

### WEB
requests
selenium
beautifulsoup4
soupsieve
webdriver-manager
lxml

### UTILITIES
orjson
tqdm
rich
PyAutoGUI
opencv-python