### CORE DEPS
numpy
scikit-learn  # depends on numpy

### MAIN PACKAGES
jcamp
matplotlib
pandas
torch
torchvision
rdkit
BaselineRemoval

### SMILES
pubchempy
cirpy
py2opsin

### WEB
requests
selenium
beautifulsoup4
soupsieve
webdriver-manager
lxml

### UTILITIES
orjson
tqdm
rich
PyAutoGUI
opencv-python